<header class="fixed flex w-full flex-col bg-slate-50/90 py-2">
    <div class="mx-auto flex items-center justify-center -lg:w-full">
        <nav class="hidden gap-8 font-medium text-slate-600 lg:flex">
            <button class="block px-4 py-2 hover:bg-slate-400 hover:text-white">
                Home
            </button>
            <button class="block px-4 py-2 hover:bg-slate-400 hover:text-white">
                Works
            </button>
            <a href="https://t.me/ivanovgv1998"
                ><button
                    class="block px-4 py-2 hover:bg-slate-400 hover:text-white">
                    Contact
                </button>
            </a>
        </nav>

        <button
            type="button"
            class="ml-auto mr-4 min-w-[32px] lg:hidden"
            (click)="toggleMobileMenu()">
            <img height="32" width="32" [src]="'icons/menu.svg'" alt="" />
        </button>
    </div>
    <div class="text-right lg:hidden" *ngIf="$mobileMenuOpen.getValue()">
        <nav class="p-2">
            <a href="#" class="block p-2 hover:bg-slate-400/50 hover:text-white"
                >Home</a
            >
            <a href="#" class="block p-2 hover:bg-slate-400/50 hover:text-white"
                >Works</a
            >
        </nav>
    </div>
</header>

<main #about class="container mx-auto p-20 lg:pt-32 -md:px-0">
    <div class="flex flex-col-reverse items-center gap-10 lg:flex-row">
        <div class="flex flex-col items-center lg:items-start">
            <h1 class="text-center text-4xl text-slate-900 lg:text-left">
                Hi, I am Grigory Ivanov, Web3 Developer
            </h1>
            <p class="mt-6 text-center lg:text-left">
                I have experience as a juniour blockchain researcher and
                blockchain developer. I participated in projects with
                Hyperledger fabric and EVM-based blockchains using technologies
                such as NodeJS, Typescript, Angular, NestJS, Solidity, Hardhat.
                On this website i want to showcase what am i capable with
                creating blockchain applications
            </p>
            <button
                type="button"
                class="mt-6 bg-slate-400 px-4 py-2 text-white hover:bg-slate-600">
                My Resume
            </button>
        </div>
        <img
            class="size-[250px] rounded-[50%] -xs:hidden"
            src="https://lh3.googleusercontent.com/d/1XDgtEq3-kaTKrJEvG-eUV51mCX5T7kiH"
            alt="" />
    </div>
    <hr #works class="my-6" />
    <div>
        <h2 class="mb-4 text-center text-2xl text-slate-900 lg:text-left">
            My Works
        </h2>
        <div class="flex flex-col">
            <div class="flex gap-4 border p-4 shadow-md -sm:flex-col">
                <img
                    class="h-[120px] w-[240px]"
                    src="https://lh3.googleusercontent.com/d/1rz9WJ-9eUmtZFliRJbgvsuJF6YQfdhAu"
                    alt="" />
                <div class="flex flex-col gap-2">
                    <h3 class="text-xl text-slate-900">Portfolio site</h3>
                    <p>
                        My personal website showcasing various projects
                        representing my skills with creating blockchain
                        applications
                    </p>
                    <a href="https://github.com/0xIG/portfolio-app">
                        <button
                            class="rounded-md bg-slate-400 px-2 py-1 text-white hover:bg-slate-600 -sm:text-center">
                            code
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden" #technologies>
        <h2>Technologies i use</h2>
        <div>
            <div>
                <h3>Node.js</h3>
                <img src="logo/node_light.svg" />
            </div>
            <div>
                <h3>Solidity</h3>
                <img src="logo/solidity.svg" />
            </div>
            <div>
                <h3>Hardhat</h3>
                <img src="logo/hardhat.svg" />
            </div>
            <div>
                <h3>Angular</h3>
                <img src="logo/angular.png" />
            </div>
            <div>
                <h3>NestJS</h3>
                <img src="logo/nestjs.png" />
            </div>
        </div>
    </div>
    <hr #contacts class="mb-10 mt-6" />
    <div class="flex justify-center gap-6">
        <div>
            <a href="https://t.me/ivanovgv1998"
                ><img width="32" height="32" src="logo/telegram.png"
            /></a>
        </div>
        <div>
            <a href="https://github.com/0xIG"
                ><img width="32" height="32" src="logo/github.png"
            /></a>
        </div>
        <div>
            <a href="mailto:ivanov.grigory@proton.me"
                ><img width="32" height="32" src="logo/email.png"
            /></a>
        </div>
    </div>
</main>
